{% extends 'company/dash/base.html' %}
{% load static %}
{% block NewContent %}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add New Customers</h4>
            <p class="card-description">
              Basic Details 
            </p>
            <!-- enctype needed becoz we are talking image to the backend -->
            <form class="forms-sample" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputName1"> Name</label>
                <input type="text" class="form-control" id="exampleInputName1" name="nm1" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputEmail3"> Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail3" name="em1" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="exampleInputName1"> Contact</label>
                <input type="text" class="form-control" id="exampleInputName1" name="con1"  placeholder="Contact No">
              </div>
             
              <button type="submit" class="btn btn-primary mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
</div>


{% endblock NewContent %}