{% extends 'company/dash/base.html' %}
{% load static %}
{% block NewContent %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Order Details</h4>
            
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Cutomer Name</th>
                    <th>Product Name</th>
                    <th>Available QTY</th>
                    <th>Required QTY</th>
                    <th>Total Price</th>
                    <th>Order Date</th>
                    <th>Order Approval</th>
                  </tr>
                </thead>
                <tbody>
                    {% for i in cord reversed %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.cust.cust_nm }}</td>
                            <td>{{ i.prod.prod_nm }}</td>
                            <td>{{ i.prod.prod_qty }}</td>
                            <td>{{ i.qty }}</td>
                            <td>{{ i.tot_price }}</td>
                            <td>{{ i.order_date }}</td>
                            <td>
                                <a href="{% url 'YEsOrder' i.id %}" class="badge badge-info">Accept</a>
                                <a href="{% url 'NoOrder' i.id %}" class="badge badge-danger">Deny</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock NewContent %}