{% extends 'company/dash/base.html' %}
{% load static %}
{% block NewContent %}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Customer Details</h4>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Customer Name</th>
                                <th>Customer Email</th>
                                <th>Customer Contact No</th>
                                <th>Register Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in cust reversed %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ i.cust_nm }}</td>
                                <td>{{ i.cust_em }}</td>
                                <td>{{ i.cust_con }}</td>
                                <td>{{ i.cust_regi_date }}</td>
                                <td>
                                    <a href="{% url 'DeleteCustomers' i.id %}" class="badge badge-danger">Delete</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock NewContent %}