<!-- <form method="POST">
    {% csrf_token %}
    <label>
        Enter New Password
    </label>
    <input type="text" name="pass1">
    <br>
    <label>
        Re-Enter New Password
    </label>
    <input type="text" name="pass2">
    <br>
    <input type="submit" value="Submit">
</form> -->

<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Change Password</title>
  <link href="{% static 'company/login/css/newpassstyle.css' %}" type="text/css" rel="stylesheet" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</head>

<body style="background-color: #f8f8f8;">

  <div class="container w3-card">
    <div class="err"></div>
    <form id="mobile-number-verification" method="POST">
      {% csrf_token %}
      <div class="mobile-heading">Create your New Password</div>
      <div class="mobile-row">
        <input type="text" id="name" class="mobile-input" placeholder="Enter your New Password" name="pass1">
        <br>
        <div id="message1"></div>
        <br>
        <input type="text" id="email" class="mobile-input" placeholder="Re-Enter your Password" name="pass2">
        <div id="message2"></div>
      </div>
      <div id="loading-image"><img src="/image/ajax-loader.gif" alt="ajax loader"></div>
      <input type="submit" class="mobileSubmit" id="enter"  value="Change Password" ;>
    </form>
  </div>
</body>

</html>